body.light-mode {
  --background: #{$bgLight};
  --topBackgroundPattern: #{$topBgPatternLight};
  --cardBg: #{$cardBgLight};
  --textPrimary: #{$textPrimaryLight};
  --textSecondary: #{$textSecondaryLight};
}

body.dark-mode {
  --background: #{$bgDark};
  --primarySuccess: #{$bgDark};
  --primaryAttention: #{$topBgPatternDark};
  --cardBg: #{$cardBgDark};
  --textPrimary: #{$textPrimaryDark};
  --textSecondary: #{$textSecondaryDark};
}
