// color palette
$limeGreen: hsl(163, 72%, 41%);
$brightRed: hsl(356, 69%, 56%);
$facebookPrimary: hsl(208, 92%, 53%);
$twitterPrimary: hsl(203, 89%, 53%);
$instagramPrimary: linear-gradient(
  0.25turn,
  hsl(37, 97%, 70%),
  hsl(329, 70%, 58%)
);
$youtubePrimary: hsl(348, 97%, 39%);
$toggleDark: linear-gradient(0.25turn, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
$toggleLight: hsl(230, 22%, 74%);

$bgDark: hsl(230, 17%, 14%);
$topBgPatternDark: hsl(232, 19%, 15%);
$cardBgDark: hsl(228, 28%, 20%);
$textSecondaryDark: hsl(228, 34%, 66%);
$textPrimaryDark: hsl(0, 0%, 100%);

$bgLight: hsl(0, 0%, 100%);
$topBgPatternLight: hsl(225, 100%, 98%);
$cardBgLight: hsl(227, 47%, 96%);
$textSecondaryLight: hsl(228, 12%, 44%);
$textPrimaryLight: hsl(230, 17%, 14%);

// typography
$fontSize: 0.875rem;

// grid responsiveness

$breakpoints: (
  "min-width: 375px": "20rem",
  "min-width: 481px": "16rem",
  "min-width: 520px": "13rem",
  "min-width: 694px": "16rem",
  "min-width: 769px": "13rem",
  "min-width: 800px": "13rem",
  "min-width: 906px": "14rem",
  "min-width: 1012px": "13rem",
  "min-width: 1025px": "10rem",
  "min-width: 1133px": "12rem",
  "min-width: 1224px": "12rem",
  "min-width: 1310px": "14rem",
  "min-width: 1386px": "15.5rem",
);
